

/*navar*/
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #54ec2e7c;
  overflow: auto;
  justify-content: center;
display: flex;
 
}
.navbar a {
  float: left;
  padding: 12px;
  color: rgb(14, 13, 13);
  text-decoration: none;
  font-size: 17px;
  

}

.navbar a:hover {
  background-color: #77ee5a;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/*formulario de pago*/
body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #21f360c4;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

*{
    margin: 0;
    box-sizing: border-box;
}


.main__contact{
    font-family: 'Raleway', sans-serif;
    min-height: 100px;
    padding: 80px 0;
    background-image: linear-gradient(#54ec2e7c);
    background-color: #54ec2e7c;
    background-repeat: no-repeat;
    display: flex;
   
}

.main{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.472), rgba(255, 255, 255, 0.365));
    overflow: hidden;
    padding: .7em;
    border-radius: 1em;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: .6em;

    animation: mostrar 1.5s ease-in-out;
}

@keyframes mostrar {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.main__figure{
    overflow: hidden;
    border-radius: 1em;
    display: flex;
    background-color: #54ec2e7c
    
}

.main__img{
    margin: auto;
    width: 80%;
    max-width: 60vw;
}
.main__paragraph{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.main__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .7em;
    text-align: center;
}

.main__form{
    display: grid;
    justify-items: center;
    gap: 1.5em;
    font-family: 'Times New Roman', Times, serif;

}

.main__input{
    width: 80%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    font: inherit;
    border-radius: .6em;
}

.main__input--send{
    background-color: #40f85e7c;
    color: #111111;
    font-weight: 600;
}

.main__title{
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
   
}

.main__paragraph{
    margin: .3em 0;
}


.main__social{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-auto-columns: max-content;
    gap: 1em;
}

.main__link{
    border: 1px solid #a9f17f;
    border-radius: 10px;
    padding: .6em 1.5em;
  background-color: #fff;
}

.main__link:hover{
    background-color: #fff;
}

.main__icon{
    width: 30px;
    height: 30px;
}

.pago-h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}