/*navar*/


.navbar {
  width: 100%;
  background-color: #54ec2e7c;
  overflow: auto;
  justify-content: center;
display: flex;
 
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(14, 13, 13);
  text-decoration: none;
  font-size: 17px;
  

}

.navbar a:hover {
  background-color: #77ee5a;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* imagen */

* {
    box-sizing:border-box
  }
  
  body {
    font-family: Arial;
    font-size: 17px;
  }
  
  .container {
    position: relative;
    max-width: 34000px;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position:absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(29, 28, 28, 0.5); /* Black background with 0.5 opacity */
    color: #0b0a0a;
    width: 1300px;
    padding: 11px;
    text-align: center;
    text-decoration: solid;
  }
  h1{
    text-align: center;
    text-decoration: dotted;
 }
p{
  text-align: center;
  color:rgb(3, 3, 3);
  padding: 0 8px;
}

/*tarjeta*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #080808;
}

.parrafo{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(30, 235, 57, 0.664);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(9, 241, 21, 0.993);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 20px;
	text-align: center;
  
}
.card .contenido-card p{
	line-height: 1.8;
	color: #111111;
	font-size: 14px;
	margin-bottom: 5px;
  text-align: justify;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/

/*accordion*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Exo 2', sans-serif;

}
section{
  width: 700px;
  padding: 40px;
  background: rgb(235, 235, 235);
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

summary{
  background: rgba(51, 243, 83, 0.664);
  color: rgb(15, 15, 15);
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
}
p{
  padding: 10px;
  background: white;
  color: rgb(14, 13, 13);
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

/*fin del accordion*/


